.idea
.idea/*
*.iml
.project
.classpath
.log

*.jar
*.war
*.ear
*.gitignore
*.prefs
*.component
*.class
.settings
.settings/*

target
target/*
bin
bin/*
test-output
test-output/*
*.cer
*.pfx
.metadata/
Servers/
